.Heading {
  border: 2px solid rgb(49, 47, 47);
  background: linear-gradient(to right, #464646, #73c9eb, #18282f);
  margin-left: 5%;
  border-radius: 5px;
}

.Main_container {
  background: linear-gradient(to right, #9a9c9d, #73c9eb, #325461) !important;
}

.container {
  width: 250px;
  border: 1px solid rgb(16, 16, 16);
  padding: 5px;
  border-radius: 3px;
}

.Image {
  width: 235px;
  height: 150px;
  border-radius: 10px;
  box-shadow: #18282f;
}